.MuiContainer-root {
    /* margin-top: 10vh; */
}

.css-heg063-MuiTabs-flexContainer{
    padding: 0 20px;
    margin: 0 20%;

}

.apfcFormWrapper{
    /* margin-top: 30px; */
    padding: 0 20px;
    margin: 0 20%;

}


@media(max-width: 480px) {
    .css-xdmu94-MuiContainer-root {
        /* position: absolute;
        top: 20%; */
    }
    
    .apfcFormWrapper {
        /* margin-top: -200px; */
        max-width: 100%;
    }

    .css-heg063-MuiTabs-flexContainer {     /* switch */
        margin: 0;
        /* position: absolute;
        left: 30%;
        transform: translate(-40%); */
        
    }

    .apfcFormWrapper {        /* form */
        margin: 0;
        /* position: absolute;
        left: 20%;
        transform: translate(-10%); */
    }

    .css-1oqqzyl-MuiContainer-root {        /* bill */
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%);
    }
}